body{
    background-color: #f4f4f4;
    /* overflow: hidden; */
}
.layui-card{
    margin: 15px;
}
.layui-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.layui-form-item{
    margin: 15px 30px;
}